<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Site</title>
  <!-- References -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="{{ paths.theme }}css/soa.css">
  <!-- END References -->
</head>
<body>

<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-fontsize" href="/bolt">Southwestern Officials Association</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/bolt">Home</a></li>
          <li><a href="news">News</a></li>
          <li><a href="clinicsmeetings">Clinics / Meetings</a></li>
          <li><a href="contactus">Contact Us</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="promotionalpoints">Promotional Points</a></li>
              <li><a href="rulechanges">Rule Changes</a></li>
              <li><a href="board">Board of Directors</a></li>
              <li><a href="committees">Committees</a></li>
              <li><a href="constitutionandbylaws">Constitution / Bylaws</a></li>
              <li><a href="socialmediapolicies">Social Media Policy</a></li>
              <li><a href="schoolsandteams">Schools / Leagues / Teams</a></li>
              <li><a href="gamefees">Game Fees</a></li>
              <li><a href="evaluations">Evaluations</a></li>
              <li><a href="awards">Awards</a></li>
              <li><a href="pictures">Pictures</a></li>
              <li><a href="applications">Application / Registration</a></li>
              <li><a href="links">Links</a></li>
              <li><a href="conflictofinterest">Conflict of Interest</a></li>
            </ul>
        </ul>
      </div>
    </div>
  </nav><!-- /nav -->
</header><!-- /header -->

<main>
<div class="container">
