{% include '_header.twig' %}

{% setcontent home = 'home' %}

{% for home in home %}

<h1>{{ home.title }}</h1>
<p class="lead">{{ home.subtitle }}</p>
<img src="{{ image(home.image) }}" class="img-responsive">
<h2>About SOA</h2>
<p>{{ home.mission_statement }}</p>

{% endfor %}

{% include '_footer.twig' %}