{% include '_header.twig' %}

<h1 class="center">Links</h1>
<br>

<div class="row-eq-height">
    {% setcontent links = "link" %}

    {% for link in links %}

        <div class="col-md-4">
            <a href="{{ link.url }}"><img src="{{ image(link.image) }}" class="img-responsive logo centered"></a>
        </div>
    {% endfor %}

</div>

{% include '_footer.twig' %}
