{% include '_header.twig' %}

<h1><a href="#Basketball">Basketball Rules Changes</a></h1>
<h1><a href="#Football">Football Rules Changes</a></h1>

{% setcontent rulechanges = "rulechange" %}

{% for rulechange in rulechanges %}

	<img src="{{ image(rulechange.logo) }}" class="img-responsive centered" id="{{ rulechange.sport }}">

	{{ rulechange.text }}
	

{% endfor %}

{% include '_footer.twig' %}