{% include '_header.twig' %}

<h1 class="center"><a href="#Basketball"><i class="icon-nba"></i> Basketball Rules Changes</a></h1>
<h1 class="center"><a href="#Football"><i class="icon-nfl"></i> Football Rules Changes</a></h1>

<br>
{% setcontent rulechanges = "rulechange" %}

{% for rulechange in rulechanges %}

	<img src="{{ image(rulechange.logo) }}" class="img-responsive centered" id="{{ rulechange.sport }}">

	{{ rulechange.text }}


{% endfor %}

{% include '_footer.twig' %}
