{% include '_header.twig' %}

<h1 class="center"><a href="#Basketball">Basketball Rules Changes</a></h1>
<h1 class="center"><a href="#Football">Football Rules Changes</a></h1>
<br>
{% setcontent rulechanges = "rulechange" %}

{% for rulechange in rulechanges %}

	<img src="{{ image(rulechange.logo) }}" class="img-responsive centered" id="{{ rulechange.sport }}">

	{{ rulechange.text }}


{% endfor %}

{% include '_footer.twig' %}
