.centered {
    text-align: center;
}
.header-row {
    font-style: italic;
}

p.under {
    text-decoration: underline;
}

.header-image{
    background: url("http://res.cloudinary.com/dbnugenbb/image/upload/v1458915250/apple-desk-laptop-working1280_zesrlm.jpg") no-repeat center center fixed;
    background-size: cover;
}

footer {
    padding-bottom: 15px;
}

img.centered {
    margin-left: auto;
    margin-right: auto;
}

h1.center {
    text-align: center;
}

h2.center {
    text-align: center;
}

div.fixed-height {
    height: 200px;
    background-color: blue;
}

.navbar-fontsize {
    font-size: 16px;
}

@font-face {
    font-family: 'icomoon';
    src:url('../font/icomoon.eot');
    src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../font/icomoon.woff') format('woff'),
        url('../font/icomoon.ttf') format('truetype'),
        url('../font/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-nfl, .icon-nhl, .icon-nba, .icon-mlb {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-nfl:before {
    content: "\61";
}

.icon-nhl:before {
    content: "\62";
}

.icon-nba:before {
    content: "\63";
}

.icon-mlb:before {
    content: "\64";
}

.logo {
        width: 100%
        height: auto;
}
